*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}
body{
    background-image: url(images/back.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

.container{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.nav{
    /* padding: 5px 10px; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content:center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);

}

.nav > img{
    width: 300px;
    height: 70px;
    /* box-shadow: 5px 5px 5px rgb(191, 191, 191); */
    /* border-radius: 100%; */
    /* padding: 100px ; */
}

.nav > p{
    font-weight: 600;
    font-size: large;
    color: #787878;
}

.profile{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-decoration: none;

}

.profile > p:hover{
    font-style: italic;
    font-weight: normal;
    color: #F8B500;
}

.profile > img {
    margin: 90px 0 0 0 ;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 5px rgb(191, 191, 191);
    border-radius: 100%;
    
}

.profile > p{
    color: #2e2e2e;
    padding: 20px;
    font-weight: 600;
    font-size: large;
    
}


.link{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
cursor: pointer;
}


.link > a{
    text-decoration: none;
    background-color: aliceblue;
    color: #2e2e2e;
    margin: 5px;
    padding: 15px;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgb(191, 191, 191);
    border-radius: 50px;
    width: 300px;
    height: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}



.link a:hover{
    transform: scale(1.1);
    background-color: rgb(247, 214, 143);
}

.footer{
text-align: center;
margin: 20px;
}

.music{
    margin-top: 400px;
    margin-left: 20px;
    width: 25%;
    outline: none;
    opacity: .8;
    position: fixed;
    z-index: 99999;
}

